<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    
  </head>
  <body>
    <%- include layout %>
    <dir class="conainer">
        <h2> Comment</h2>
        <a href="/">อ่านบทความ</a>
    </dir>
    


  </body>
</html>
