<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
  </head>
  <body>
    <%- include layout %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>non</h2>
    <a href="/blog">เพิ่มบทความ</a>
  </body>
</html>
